In [2]:

import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [3]:
datos = pd.read_csv('pcfactory.csv',delimiter=',')
datos

,nombre_p,precios_p,stock_p
0,"Extensor Cable Riser PEC 300 PCI-E x16 ,Video ...","$ 29.990,$ 49.990,$ 74.990,$ 84.990,$ 95.990,$...","17 Unid.,2 Unid.,7 Unid.,17 Unid.,+50 Unid.,+5..."

In [6]:
precios_p = datos['precios_p']
precios_p

0    $ 29.990,$ 49.990,$ 74.990,$ 84.990,$ 95.990,$...
Name: precios_p, dtype: object

In [7]:
nombre_p = datos['nombre_p']
nombre_p = nombre_p.str.replace("\n                                ","")
nombre_p = nombre_p.str.replace("                            ","")
nombre_p = nombre_p.str.replace("\n",",")
nombre_p

0    Extensor Cable Riser PEC 300 PCI-E x16 ,Video ...
Name: nombre_p, dtype: object

spliteamos las comas en columnas y sacamos la traspuesta con .T

In [8]:
nombre_p = nombre_p.str.split(",", expand=True).T
nombre_p

                                                    0
0             Extensor Cable Riser PEC 300 PCI-E x16
1               Video NVIDIA GeForce n210 1024MB DDR3
2                Video NVIDIA GeForce GT710 1GB GDDR5
3              Video NVIDIA GeForce GT710 SL-2GD5-CSM
4                  Video NVIDIA GT730 2GB Low Profile
5                       Video NVIDIA GT730 2GB SL BRK
6                    Video NVIDIA GT730K 2GB D3H/LPV1
7                Video NVIDIA GeForce GT1030 2GB DDR4
8                     Video NVIDIA GT730K 4GB D3/OCV1
9                     Video AMD Radeon PRO WX2100 2GB
10              Video NVIDIA Quadro P400 2GB GDDR5 V2
11                 Video NVIDIA Quadro T400 2GB GDDR6
12                 Video NVIDIA Quadro T600 4GB GDDR6
13              Video NVIDIA Quadro P620 V2 2GB GDDR5
14            Video NVIDIA GeForce GTX1650 4GB StormX
15              Video NVIDIA GeForce GTX1050Ti 4GB D5
16  Video NVIDIA GeForce GTX1050Ti 4GB Low Profile OC
17     Video NVIDIA GeForce GTX1050Ti 4GB PHOENIX Fan
18              Video NVIDIA GeForce GTX1050Ti 4GT OC
19        Video NVIDA GeForce GTX1650 4GB Ex-Click OC
20                Video NVIDIA GeForce GTX1650 4GB GP
21       Video NVIDA GeForce GTX1650 4GB XS Ventus OC
22   Video NVIDIA GeForce GTX1650 4GB D6 Ventus XS OC
23  Video NVIDIA GeForce GTX1650 4GB WindForce D6 ...
24          Video NVIDIA GeForce GTX1660S 6GB Phoenix
25                      NVIDIA Miner√≠a CMP 30HX d6 6G
26          Video NVIDIA GeForce GTX1660Ti 6GB StormX
27              Video NVIDIA GeForce GTX1660 6GB Dual
28                 Video AMD Radeon RX 6600 8GB Pulse
29          Video NVIDIA GeForce GTX1660Ti 1-Click OC
30           Video NVIDIA GeForce GTX1660Ti 6GB Dual
31        Video NVIDIA GeForce GTX1660Ti O6GB TUF EVO
32              Video NVIDIA GeForce GTX1660Ti 6GB OC
33        Video NVIDIA GeForce RTX2060 6GB 1-Click OC
34                  Video AMD Radeon RX 6600 Dual 8GB
35             Video NVIDIA GeForce RTX3050 Dual 8GB
36                      Video AMD RX 6600XT O8GB Dual
37            Video NVIDIA GeForce RTX3060 12GB Dual
38       Video NVIDIA GeForce RTX3060 12GB 1-Click OC
39     Video NVIDIA GeForce RTX3060 12GB Ventus 2X OC
40         Video NVIDIA GeForce RTX3060 12GB Eagle OC
41        Video NVIDIA GeForce RTX3060 12GB Vision OC
42  Video NVIDIA GeForce RTX3060Ti 8GB 1-Click OC LHR
43      Video NVIDIA GeForce RTX3060Ti Dual OC V1 8GB
44                Video AMD RX 6700XT 12GB Mech 2X OC
45     Video NVIDIA GeForce RTX3060Ti 8GB Dual V1 LHR
46  Video NVIDIA GeForce RTX3060Ti Ventus 3X 8GB O...
47                  Video AMD RX 6700XT 12GB Gaming X

In [9]:
precios_p = precios_p.str.split(",", expand=True).T
precios_p

            0
0    $ 29.990
1    $ 49.990
2    $ 74.990
3    $ 84.990
4    $ 95.990
5    $ 99.990
6    $ 99.990
7   $ 149.990
8   $ 149.990
9   $ 169.990
10  $ 179.990
11  $ 189.990
12  $ 269.990
13  $ 269.990
14  $ 319.990
15  $ 329.990
16  $ 329.990
17  $ 329.990
18  $ 349.990
19  $ 379.990
20  $ 389.990
21  $ 399.990
22  $ 399.990
23  $ 399.990
24  $ 499.990
25  $ 599.990
26  $ 599.990
27  $ 609.990
28  $ 619.990
29  $ 629.990
30  $ 639.990
31  $ 649.990
32  $ 649.990
33  $ 649.990
34  $ 659.990
35  $ 719.990
36  $ 729.990
37  $ 799.990
38  $ 799.990
39  $ 809.990
40  $ 839.990
41  $ 889.990
42  $ 919.990
43  $ 919.990
44  $ 929.990
45  $ 949.990
46  $ 949.990
47  $ 949.990

In [11]:
stock_p = datos['stock_p']
stock_p

0    17 Unid.,2 Unid.,7 Unid.,17 Unid.,+50 Unid.,+5...
Name: stock_p, dtype: object

In [12]:
stock_p =stock_p.str.split(",", expand=True).T
stock_p

             0
0     17 Unid.
1      2 Unid.
2      7 Unid.
3     17 Unid.
4    +50 Unid.
5    +50 Unid.
6    +30 Unid.
7      7 Unid.
8      1 Unid.
9    +30 Unid.
10     4 Unid.
11   +30 Unid.
12    21 Unid.
13     1 Unid.
14  +100 Unid.
15     8 Unid.
16     3 Unid.
17   +50 Unid.
18  +100 Unid.
19   +50 Unid.
20   +50 Unid.
21   +50 Unid.
22     1 Unid.
23   +50 Unid.
24     1 Unid.
25  +100 Unid.
26   +30 Unid.
27    16 Unid.
28     1 Unid.
29     9 Unid.
30   +50 Unid.
31     3 Unid.
32   +30 Unid.
33     2 Unid.
34    18 Unid.
35   +30 Unid.
36   +30 Unid.
37    23 Unid.
38   +30 Unid.
39     1 Unid.
40     1 Unid.
41     2 Unid.
42     5 Unid.
43    21 Unid.
44     1 Unid.
45   +50 Unid.
46     1 Unid.
47     1 Unid.

In [64]:
df_final = df_final.drop_duplicates()

In [13]:
df_final = pd.concat([nombre_p, precios_p, stock_p],axis=1)
df_final

                                                    0          0           0
0             Extensor Cable Riser PEC 300 PCI-E x16    $ 29.990    17 Unid.
1               Video NVIDIA GeForce n210 1024MB DDR3   $ 49.990     2 Unid.
2                Video NVIDIA GeForce GT710 1GB GDDR5   $ 74.990     7 Unid.
3              Video NVIDIA GeForce GT710 SL-2GD5-CSM   $ 84.990    17 Unid.
4                  Video NVIDIA GT730 2GB Low Profile   $ 95.990   +50 Unid.
5                       Video NVIDIA GT730 2GB SL BRK   $ 99.990   +50 Unid.
6                    Video NVIDIA GT730K 2GB D3H/LPV1   $ 99.990   +30 Unid.
7                Video NVIDIA GeForce GT1030 2GB DDR4  $ 149.990     7 Unid.
8                     Video NVIDIA GT730K 4GB D3/OCV1  $ 149.990     1 Unid.
9                     Video AMD Radeon PRO WX2100 2GB  $ 169.990   +30 Unid.
10              Video NVIDIA Quadro P400 2GB GDDR5 V2  $ 179.990     4 Unid.
11                 Video NVIDIA Quadro T400 2GB GDDR6  $ 189.990   +30 Unid.
12                 Video NVIDIA Quadro T600 4GB GDDR6  $ 269.990    21 Unid.
13              Video NVIDIA Quadro P620 V2 2GB GDDR5  $ 269.990     1 Unid.
14            Video NVIDIA GeForce GTX1650 4GB StormX  $ 319.990  +100 Unid.
15              Video NVIDIA GeForce GTX1050Ti 4GB D5  $ 329.990     8 Unid.
16  Video NVIDIA GeForce GTX1050Ti 4GB Low Profile OC  $ 329.990     3 Unid.
17     Video NVIDIA GeForce GTX1050Ti 4GB PHOENIX Fan  $ 329.990   +50 Unid.
18              Video NVIDIA GeForce GTX1050Ti 4GT OC  $ 349.990  +100 Unid.
19        Video NVIDA GeForce GTX1650 4GB Ex-Click OC  $ 379.990   +50 Unid.
20                Video NVIDIA GeForce GTX1650 4GB GP  $ 389.990   +50 Unid.
21       Video NVIDA GeForce GTX1650 4GB XS Ventus OC  $ 399.990   +50 Unid.
22   Video NVIDIA GeForce GTX1650 4GB D6 Ventus XS OC  $ 399.990     1 Unid.
23  Video NVIDIA GeForce GTX1650 4GB WindForce D6 ...  $ 399.990   +50 Unid.
24          Video NVIDIA GeForce GTX1660S 6GB Phoenix  $ 499.990     1 Unid.
25                      NVIDIA Miner√≠a CMP 30HX d6 6G  $ 599.990  +100 Unid.
26          Video NVIDIA GeForce GTX1660Ti 6GB StormX  $ 599.990   +30 Unid.
27              Video NVIDIA GeForce GTX1660 6GB Dual  $ 609.990    16 Unid.
28                 Video AMD Radeon RX 6600 8GB Pulse  $ 619.990     1 Unid.
29          Video NVIDIA GeForce GTX1660Ti 1-Click OC  $ 629.990     9 Unid.
30           Video NVIDIA GeForce GTX1660Ti 6GB Dual   $ 639.990   +50 Unid.
31        Video NVIDIA GeForce GTX1660Ti O6GB TUF EVO  $ 649.990     3 Unid.
32              Video NVIDIA GeForce GTX1660Ti 6GB OC  $ 649.990   +30 Unid.
33        Video NVIDIA GeForce RTX2060 6GB 1-Click OC  $ 649.990     2 Unid.
34                  Video AMD Radeon RX 6600 Dual 8GB  $ 659.990    18 Unid.
35             Video NVIDIA GeForce RTX3050 Dual 8GB   $ 719.990   +30 Unid.
36                      Video AMD RX 6600XT O8GB Dual  $ 729.990   +30 Unid.
37            Video NVIDIA GeForce RTX3060 12GB Dual   $ 799.990    23 Unid.
38       Video NVIDIA GeForce RTX3060 12GB 1-Click OC  $ 799.990   +30 Unid.
39     Video NVIDIA GeForce RTX3060 12GB Ventus 2X OC  $ 809.990     1 Unid.
40         Video NVIDIA GeForce RTX3060 12GB Eagle OC  $ 839.990     1 Unid.
41        Video NVIDIA GeForce RTX3060 12GB Vision OC  $ 889.990     2 Unid.
42  Video NVIDIA GeForce RTX3060Ti 8GB 1-Click OC LHR  $ 919.990     5 Unid.
43      Video NVIDIA GeForce RTX3060Ti Dual OC V1 8GB  $ 919.990    21 Unid.
44                Video AMD RX 6700XT 12GB Mech 2X OC  $ 929.990     1 Unid.
45     Video NVIDIA GeForce RTX3060Ti 8GB Dual V1 LHR  $ 949.990   +50 Unid.
46  Video NVIDIA GeForce RTX3060Ti Ventus 3X 8GB O...  $ 949.990     1 Unid.
47                  Video AMD RX 6700XT 12GB Gaming X  $ 949.990     1 Unid.

In [14]:
df_final.columns = ['NombreProducto', 'Precio', 'Stock']
df_final

                                       NombreProducto     Precio       Stock
0             Extensor Cable Riser PEC 300 PCI-E x16    $ 29.990    17 Unid.
1               Video NVIDIA GeForce n210 1024MB DDR3   $ 49.990     2 Unid.
2                Video NVIDIA GeForce GT710 1GB GDDR5   $ 74.990     7 Unid.
3              Video NVIDIA GeForce GT710 SL-2GD5-CSM   $ 84.990    17 Unid.
4                  Video NVIDIA GT730 2GB Low Profile   $ 95.990   +50 Unid.
5                       Video NVIDIA GT730 2GB SL BRK   $ 99.990   +50 Unid.
6                    Video NVIDIA GT730K 2GB D3H/LPV1   $ 99.990   +30 Unid.
7                Video NVIDIA GeForce GT1030 2GB DDR4  $ 149.990     7 Unid.
8                     Video NVIDIA GT730K 4GB D3/OCV1  $ 149.990     1 Unid.
9                     Video AMD Radeon PRO WX2100 2GB  $ 169.990   +30 Unid.
10              Video NVIDIA Quadro P400 2GB GDDR5 V2  $ 179.990     4 Unid.
11                 Video NVIDIA Quadro T400 2GB GDDR6  $ 189.990   +30 Unid.
12                 Video NVIDIA Quadro T600 4GB GDDR6  $ 269.990    21 Unid.
13              Video NVIDIA Quadro P620 V2 2GB GDDR5  $ 269.990     1 Unid.
14            Video NVIDIA GeForce GTX1650 4GB StormX  $ 319.990  +100 Unid.
15              Video NVIDIA GeForce GTX1050Ti 4GB D5  $ 329.990     8 Unid.
16  Video NVIDIA GeForce GTX1050Ti 4GB Low Profile OC  $ 329.990     3 Unid.
17     Video NVIDIA GeForce GTX1050Ti 4GB PHOENIX Fan  $ 329.990   +50 Unid.
18              Video NVIDIA GeForce GTX1050Ti 4GT OC  $ 349.990  +100 Unid.
19        Video NVIDA GeForce GTX1650 4GB Ex-Click OC  $ 379.990   +50 Unid.
20                Video NVIDIA GeForce GTX1650 4GB GP  $ 389.990   +50 Unid.
21       Video NVIDA GeForce GTX1650 4GB XS Ventus OC  $ 399.990   +50 Unid.
22   Video NVIDIA GeForce GTX1650 4GB D6 Ventus XS OC  $ 399.990     1 Unid.
23  Video NVIDIA GeForce GTX1650 4GB WindForce D6 ...  $ 399.990   +50 Unid.
24          Video NVIDIA GeForce GTX1660S 6GB Phoenix  $ 499.990     1 Unid.
25                      NVIDIA Miner√≠a CMP 30HX d6 6G  $ 599.990  +100 Unid.
26          Video NVIDIA GeForce GTX1660Ti 6GB StormX  $ 599.990   +30 Unid.
27              Video NVIDIA GeForce GTX1660 6GB Dual  $ 609.990    16 Unid.
28                 Video AMD Radeon RX 6600 8GB Pulse  $ 619.990     1 Unid.
29          Video NVIDIA GeForce GTX1660Ti 1-Click OC  $ 629.990     9 Unid.
30           Video NVIDIA GeForce GTX1660Ti 6GB Dual   $ 639.990   +50 Unid.
31        Video NVIDIA GeForce GTX1660Ti O6GB TUF EVO  $ 649.990     3 Unid.
32              Video NVIDIA GeForce GTX1660Ti 6GB OC  $ 649.990   +30 Unid.
33        Video NVIDIA GeForce RTX2060 6GB 1-Click OC  $ 649.990     2 Unid.
34                  Video AMD Radeon RX 6600 Dual 8GB  $ 659.990    18 Unid.
35             Video NVIDIA GeForce RTX3050 Dual 8GB   $ 719.990   +30 Unid.
36                      Video AMD RX 6600XT O8GB Dual  $ 729.990   +30 Unid.
37            Video NVIDIA GeForce RTX3060 12GB Dual   $ 799.990    23 Unid.
38       Video NVIDIA GeForce RTX3060 12GB 1-Click OC  $ 799.990   +30 Unid.
39     Video NVIDIA GeForce RTX3060 12GB Ventus 2X OC  $ 809.990     1 Unid.
40         Video NVIDIA GeForce RTX3060 12GB Eagle OC  $ 839.990     1 Unid.
41        Video NVIDIA GeForce RTX3060 12GB Vision OC  $ 889.990     2 Unid.
42  Video NVIDIA GeForce RTX3060Ti 8GB 1-Click OC LHR  $ 919.990     5 Unid.
43      Video NVIDIA GeForce RTX3060Ti Dual OC V1 8GB  $ 919.990    21 Unid.
44                Video AMD RX 6700XT 12GB Mech 2X OC  $ 929.990     1 Unid.
45     Video NVIDIA GeForce RTX3060Ti 8GB Dual V1 LHR  $ 949.990   +50 Unid.
46  Video NVIDIA GeForce RTX3060Ti Ventus 3X 8GB O...  $ 949.990     1 Unid.
47                  Video AMD RX 6700XT 12GB Gaming X  $ 949.990     1 Unid.

In [13]:
headerList = ['Nombre_Producto','Precio']
df_final.to_excel('final.xlsx',header=headerList, index=False)

In [49]:
print(type(df_final))

<class 'pandas.core.frame.DataFrame'>

In [57]:
df_final.nunique()

NombreProducto    173
Precio             83
dtype: int64

In [50]:
df_final.columns = ['NombreProducto', 'Precio']

In [59]:
df_final = df_final.drop_duplicates()

In [56]:
df_final.describe(include='all')

                   NombreProducto   Precio
count                         194      194
unique                        173       83
top     MEN'S STRETCH DOWN JACKET  $29.990
freq                            2       18

In [60]:
df_final

                         NombreProducto    Precio
0             MEN'S STRETCH DOWN JACKET  $174.993
1             MEN'S STRETCH DOWN JACKET  $249.990
2          CHAQUETA STRETCH DOWN HOMBRE  $249.990
3    CHAQUETA THERMOBALL ECO 2.0 HOMBRE  $139.993
6             CHAQUETA VENTURE 2 HOMBRE   $79.992
..                                  ...       ...
311              M SPRAG 5-POCKET PANTS   $38.994
312  MEN'S GORDON LYONS FULL-ZIP JACKET   $59.994
314        MEN'S THERMOBALL‚Ñ¢ ECO JACKET  $101.994
315               MEN'S VENTRIX‚Ñ¢ JACKET  $101.994
317             GUANTE MUJER APEX ETIP‚Ñ¢   $26.994

[194 rows x 2 columns]

In [63]:
df_final.to_csv('resultado.csv', index=False)

In [ ]:
df_final.to_sql