In [28]:
import pandas as pd
import numpy as np

In [29]:
datos = pd.read_csv('./video_cards/preproceso/pc_pre.csv',delimiter=',')
datos

,nombre_p,precios_p,stock_p,links_p
0,"Extensor Cable Riser PEC 300 PCI-E x16 ,Video ...","$ 29.990,$ 49.990,$ 74.990,$ 84.990,$ 95.990,$...","17 Unid.,3 Unid.,+50 Unid.,17 Unid.,+50 Unid.,...",/producto/35084-deepcool-extensor-cable-riser-...
1,Video NVIDIA GeForce RTX3060Ti 8GB Dual V1 LHR...,"$ 949.990,$ 949.990,$ 999.990,$ 999.990,$ 1.04...","+50 Unid.,1 Unid.,7 Unid.,2 Unid.,18 Unid.,+30...",/producto/44257-palit-video-nvidia-geforce-rtx...

In [30]:
links_p = datos['links_p']
links_p = links_p.str.split(",", expand=True).T
lf0 = links_p[0]
lf1 = links_p[1]
linksfinal = pd.DataFrame(lf0.append(lf1,ignore_index= True),columns=['links'])
linksfinal

                                                links
0   /producto/35084-deepcool-extensor-cable-riser-...
1   /producto/15614-msi-video-nvidia-geforce-n210-...
2   /producto/36075-asus-video-nvidia-geforce-gt71...
3   /producto/26690-asus-video-nvidia-geforce-gt71...
4   /producto/43493-palit-video-nvidia-gt730-2gb-l...
..                                                ...
91                                               None
92                                               None
93                                               None
94                                               None
95                                               None

[96 rows x 1 columns]

In [31]:
precios_p = datos['precios_p']
precios_p = precios_p.str.split(",", expand=True).T
precios_p

            0            1
0    $ 29.990    $ 949.990
1    $ 49.990    $ 949.990
2    $ 74.990    $ 999.990
3    $ 84.990    $ 999.990
4    $ 95.990  $ 1.049.990
5    $ 99.990  $ 1.049.990
6    $ 99.990  $ 1.099.990
7   $ 149.990  $ 1.099.990
8   $ 169.990  $ 1.119.990
9   $ 179.990  $ 1.119.990
10  $ 189.990  $ 1.129.990
11  $ 269.990  $ 1.149.990
12  $ 269.990  $ 1.159.990
13  $ 329.990  $ 1.189.990
14  $ 329.990  $ 1.199.990
15  $ 329.990  $ 1.199.990
16  $ 349.990  $ 1.199.990
17  $ 349.990  $ 1.279.990
18  $ 379.990  $ 1.289.990
19  $ 389.990  $ 1.289.990
20  $ 399.990  $ 1.299.990
21  $ 399.990  $ 1.329.990
22  $ 399.990  $ 1.349.990
23  $ 439.990  $ 1.429.990
24  $ 499.990  $ 1.599.990
25  $ 569.990  $ 1.599.990
26  $ 599.990  $ 1.649.990
27  $ 599.990  $ 1.699.990
28  $ 609.990  $ 1.779.990
29  $ 629.990  $ 1.799.990
30  $ 639.990  $ 1.899.990
31  $ 649.990  $ 1.899.990
32  $ 649.990  $ 1.999.990
33  $ 649.990  $ 1.999.990
34  $ 659.990  $ 1.999.990
35  $ 719.990  $ 1.999.990
36  $ 729.990  $ 2.049.990
37  $ 759.990  $ 2.299.990
38  $ 799.990  $ 2.349.990
39  $ 799.990  $ 2.499.990
40  $ 809.990  $ 2.599.990
41  $ 819.990  $ 2.999.990
42  $ 839.990         None
43  $ 889.990         None
44  $ 919.990         None
45  $ 919.990         None
46  $ 929.990         None
47  $ 949.990         None

In [32]:
rf0 = precios_p[0]
rf0
rf1 = precios_p[1]
rf1

0       $ 949.990
1       $ 949.990
2       $ 999.990
3       $ 999.990
4     $ 1.049.990
5     $ 1.049.990
6     $ 1.099.990
7     $ 1.099.990
8     $ 1.119.990
9     $ 1.119.990
10    $ 1.129.990
11    $ 1.149.990
12    $ 1.159.990
13    $ 1.189.990
14    $ 1.199.990
15    $ 1.199.990
16    $ 1.199.990
17    $ 1.279.990
18    $ 1.289.990
19    $ 1.289.990
20    $ 1.299.990
21    $ 1.329.990
22    $ 1.349.990
23    $ 1.429.990
24    $ 1.599.990
25    $ 1.599.990
26    $ 1.649.990
27    $ 1.699.990
28    $ 1.779.990
29    $ 1.799.990
30    $ 1.899.990
31    $ 1.899.990
32    $ 1.999.990
33    $ 1.999.990
34    $ 1.999.990
35    $ 1.999.990
36    $ 2.049.990
37    $ 2.299.990
38    $ 2.349.990
39    $ 2.499.990
40    $ 2.599.990
41    $ 2.999.990
42           None
43           None
44           None
45           None
46           None
47           None
Name: 1, dtype: object

In [33]:
preciosfinal = pd.DataFrame(rf0.append(rf1,ignore_index= True),columns=['precios'])
preciosfinal

     precios
0   $ 29.990
1   $ 49.990
2   $ 74.990
3   $ 84.990
4   $ 95.990
..       ...
91      None
92      None
93      None
94      None
95      None

[96 rows x 1 columns]

In [34]:
nombre_p = datos['nombre_p']
nombre_p = nombre_p.str.replace("\n                                ","")
nombre_p = nombre_p.str.replace("                            ","")
nombre_p = nombre_p.str.replace("\n",",")
nombre_p = nombre_p.str.replace("Video ","")
nombre_p

0    Extensor Cable Riser PEC 300 PCI-E x16 ,NVIDIA...
1    NVIDIA GeForce RTX3060Ti 8GB Dual V1 LHR,NVIDI...
Name: nombre_p, dtype: object

spliteamos las comas en columnas y sacamos la traspuesta con .T

In [35]:
nombre_p = nombre_p.str.split(",", expand=True).T
df0 = pd.Series(nombre_p[0])
df0
df1 = pd.Series(nombre_p[1])
df1

nombrefinal = pd.DataFrame(df0.append(df1,ignore_index= True),columns=['nombre'])
nombrefinal

                                     nombre
0   Extensor Cable Riser PEC 300 PCI-E x16
1           NVIDIA GeForce n210 1024MB DDR3
2            NVIDIA GeForce GT710 1GB GDDR5
3          NVIDIA GeForce GT710 SL-2GD5-CSM
4              NVIDIA GT730 2GB Low Profile
..                                      ...
91                                     None
92                                     None
93                                     None
94                                     None
95                                     None

[96 rows x 1 columns]

In [36]:
stock_p = datos['stock_p']
stock_p

0    17 Unid.,3 Unid.,+50 Unid.,17 Unid.,+50 Unid.,...
1    +50 Unid.,1 Unid.,7 Unid.,2 Unid.,18 Unid.,+30...
Name: stock_p, dtype: object

In [37]:
stock_p = stock_p.str.replace(" Unid.","")
stock_p

<ipython-input-37-263f84691cf3>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  stock_p = stock_p.str.replace(" Unid.","")

0    17,3,+50,17,+50,+30,+50,5,+30,4,+30,1,15,+50,8...
1    +50,1,7,2,18,+30,4,+30,6,20,1,21,9,8,5,19,+30,...
Name: stock_p, dtype: object

In [38]:
stock_p =stock_p.str.split(",", expand=True).T
stock_p

       0     1
0     17   +50
1      3     1
2    +50     7
3     17     2
4    +50    18
5    +30   +30
6    +50     4
7      5   +30
8    +30     6
9      4    20
10   +30     1
11     1    21
12    15     9
13   +50     8
14     8     5
15     3    19
16  +100   +30
17  +100     5
18   +50    11
19   +50     1
20     1     2
21   +50     2
22   +50     2
23    26    12
24    10     1
25     7    12
26   +30     2
27  +100   +30
28    15     1
29     9     2
30   +50    11
31   +30     8
32     2     2
33     9    11
34    17     7
35   +30   +50
36   +30     7
37     7    10
38   +30     2
39    22     1
40     1     5
41     4     6
42     1  None
43     1  None
44     5  None
45    21  None
46     1  None
47     1  None

In [39]:
st0 = stock_p[0]
st0
st1 = stock_p[1]
st1

0      +50
1        1
2        7
3        2
4       18
5      +30
6        4
7      +30
8        6
9       20
10       1
11      21
12       9
13       8
14       5
15      19
16     +30
17       5
18      11
19       1
20       2
21       2
22       2
23      12
24       1
25      12
26       2
27     +30
28       1
29       2
30      11
31       8
32       2
33      11
34       7
35     +50
36       7
37      10
38       2
39       1
40       5
41       6
42    None
43    None
44    None
45    None
46    None
47    None
Name: 1, dtype: object

In [40]:
stockfinal = pd.DataFrame(st0.append(st1,ignore_index= True),columns=['stock'])
stockfinal

   stock
0     17
1      3
2    +50
3     17
4    +50
..   ...
91  None
92  None
93  None
94  None
95  None

[96 rows x 1 columns]

In [41]:
df_final = pd.concat([nombrefinal, preciosfinal, stockfinal, linksfinal],axis=1)
df_final

,nombre,precios,stock,links
0,Extensor Cable Riser PEC 300 PCI-E x16,$ 29.990,17,/producto/35084-deepcool-extensor-cable-riser-...
1,NVIDIA GeForce n210 1024MB DDR3,$ 49.990,3,/producto/15614-msi-video-nvidia-geforce-n210-...
2,NVIDIA GeForce GT710 1GB GDDR5,$ 74.990,+50,/producto/36075-asus-video-nvidia-geforce-gt71...
3,NVIDIA GeForce GT710 SL-2GD5-CSM,$ 84.990,17,/producto/26690-asus-video-nvidia-geforce-gt71...
4,NVIDIA GT730 2GB Low Profile,$ 95.990,+50,/producto/43493-palit-video-nvidia-gt730-2gb-l...
...,...,...,...,...
91,None,None,None,None
92,None,None,None,None
93,None,None,None,None
94,None,None,None,None
95,None,None,None,None

In [42]:
df_final.nunique()

nombre     90
precios    64
stock      23
links      90
dtype: int64

In [43]:
df_final =df_final.assign(url= 'https://www.pcfactory.cl')

In [44]:
df_final.dropna(inplace=True)

In [45]:
df_final['enlaces'] = df_final['url'] + df_final['links']
df_final = df_final.drop(['url'], axis=1)
df_final = df_final.drop(['links'], axis=1)
df_final

,nombre,precios,stock,enlaces
0,Extensor Cable Riser PEC 300 PCI-E x16,$ 29.990,17,https://www.pcfactory.cl/producto/35084-deepco...
1,NVIDIA GeForce n210 1024MB DDR3,$ 49.990,3,https://www.pcfactory.cl/producto/15614-msi-vi...
2,NVIDIA GeForce GT710 1GB GDDR5,$ 74.990,+50,https://www.pcfactory.cl/producto/36075-asus-v...
3,NVIDIA GeForce GT710 SL-2GD5-CSM,$ 84.990,17,https://www.pcfactory.cl/producto/26690-asus-v...
4,NVIDIA GT730 2GB Low Profile,$ 95.990,+50,https://www.pcfactory.cl/producto/43493-palit-...
...,...,...,...,...
85,AMD Radeon RX 6900XT 16GB Gaming Z Trio,$ 2.299.990,10,https://www.pcfactory.cl/producto/42020-msi-vi...
86,NVIDIA GeForce RTX3080Ti O12GB Rog Strix,$ 2.349.990,2,https://www.pcfactory.cl/producto/42195-asus-v...
87,NVIDIA GeForce RTX3080Ti 12GB Rog Strix LC Gaming,$ 2.499.990,1,https://www.pcfactory.cl/producto/43629-asus-v...
88,AMD Radeon RX 6900XT Rog Strix LC Gaming 16GB,$ 2.599.990,5,https://www.pcfactory.cl/producto/43642-asus-v...
89,NVIDIA RTX3090 O24GB ROG Strix,$ 2.999.990,6,https://www.pcfactory.cl/producto/39828-asus-v...

In [46]:
df_final = df_final.drop_duplicates()
df_final

,nombre,precios,stock,enlaces
0,Extensor Cable Riser PEC 300 PCI-E x16,$ 29.990,17,https://www.pcfactory.cl/producto/35084-deepco...
1,NVIDIA GeForce n210 1024MB DDR3,$ 49.990,3,https://www.pcfactory.cl/producto/15614-msi-vi...
2,NVIDIA GeForce GT710 1GB GDDR5,$ 74.990,+50,https://www.pcfactory.cl/producto/36075-asus-v...
3,NVIDIA GeForce GT710 SL-2GD5-CSM,$ 84.990,17,https://www.pcfactory.cl/producto/26690-asus-v...
4,NVIDIA GT730 2GB Low Profile,$ 95.990,+50,https://www.pcfactory.cl/producto/43493-palit-...
...,...,...,...,...
85,AMD Radeon RX 6900XT 16GB Gaming Z Trio,$ 2.299.990,10,https://www.pcfactory.cl/producto/42020-msi-vi...
86,NVIDIA GeForce RTX3080Ti O12GB Rog Strix,$ 2.349.990,2,https://www.pcfactory.cl/producto/42195-asus-v...
87,NVIDIA GeForce RTX3080Ti 12GB Rog Strix LC Gaming,$ 2.499.990,1,https://www.pcfactory.cl/producto/43629-asus-v...
88,AMD Radeon RX 6900XT Rog Strix LC Gaming 16GB,$ 2.599.990,5,https://www.pcfactory.cl/producto/43642-asus-v...
89,NVIDIA RTX3090 O24GB ROG Strix,$ 2.999.990,6,https://www.pcfactory.cl/producto/39828-asus-v...

In [47]:
df_final.to_csv('./video_cards/resultados/pcfinal.csv', index=False)